<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>
        <div id="contacts">
            <header>
                <div id="filter"><label>Сортировать по дате рождения:</label></div>
                <a id="showForm" href="#">Добавить новый контакт</a>
                <ul>
                <form id="addContact" action="#">
                    <label for="photo">Фото:</label><input id="photo" type="file" />
                    <label for="name">Имя:</label><input id="name" /> </p>
                    <label for="lastname">Фамилия</label><input id="lastname" />
                    <label for="address">Адрес:</label><input id="address"/>
                    <label for="tel">Телефон:</label><input id="tel" />
                    <label for="email">Email:</label><input id="email" />
                    <label for="type">Дата рождения</label><input id="type" />
                    <button id="add">Добавить</button>
                </ul>
                </form>
            </header>
        </div>
        <script id="contactTemplate" type="text/template">
            <img src="<%= photo %>" alt="<%= name %>" />
            <h1><%= name %><span><%= type %></span></h1>
            <h1><%= lastname %><span></span></h1>
            <div><%= address %></div>
            <dl>
                <dt>Тел:</dt><dd><%= tel %></dd>
                <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
            </dl>
            <button class="delete">Удалить</button>
            <button class="edit">Редактировать</button>
        </script>
        <script id="contactEditTemplate" type="text/template">
            <form action="#">
                <input type="file" value="<%= photo %>" />
                <input class="lastname" value="<%= lastname %>" />
                <input class="name" value="<%= name %>" />
                <input id="type" type="hidden" value="<%= type %>" />
                <input class="addContactress" value="<%= address %>" />
                <input class="tel" value="<%= tel %>" />
                <input class="email" value="<%= email %>" />
                <button class="save">Сохранить</button>
                <button class="cancel">Отмена</button>
            </form>
        </script>
        <script src="js/jquery-1.7.1.min.js"></script>
        <script src="js/json2.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
